In [8]:
a = "ABCDEFGH"
word=""
print("len:",len(a))

for index in range(len(a) - 1, -1, -1):
    word += a[index]
word

len: 8

'HGFEDCBA'

In [9]:
0 or 3

0 and 3

0

In [4]:
a = "AAA"

if 'AAA' in a:
    print('T')

if 'AAA' == a:
    print('T')

T
T

In [10]:
list1 = ['a','b','c']
list2= ['a','b','c']
print(list1 is list2)
print(list1 == list2)

a=5
b=5
print(a is b)
print(id(a))
print(id(b))
print(id(list1))
print(id(list2))

False
True
True
2019805194672
2019805194672
2019876822976
2019876822592

In [ ]:
print(1.234e2)

123.4

In [ ]:
print(bool('False'))
print(bool('1'))
print(bool('-1'))
print(bool(''))

True
True
True
False

In [ ]:
s = 'asdaaff,SSS'
s.capitalize()

'Asdaaff,sss'

In [ ]:
print('{}{{}}'.format('{}','A','B'))

print('hello {1}'.format('A','B'))

print('{:x}'.format(16))

{}{}
hello B
10

In [ ]:
i = '255'
j = 5 
print(i * j)

255255255255255

In [ ]:
c='A6'
x = c.isalnum()
x

True

In [ ]:
str = '39.2'
print( float(str) + 10.8)

50.0

In [ ]:
s = 'ABCDEFGHI'
print(s[5:1:-1])

FEDC

In [ ]:
x = "str='str' + 'ing' "
x
type(x)

str

In [ ]:
x = 'a'
type(x)

str

In [ ]:
x = "'a'+'a'"
x

"'a'+'a'"

In [ ]:
not(12 + 3 < 12 * 3)
20 > 12 or 40 < 8
(20 > 12) or (40 < 8)
30 < 60 and 'A' != 'B'
(20 > 13) or ('A' == 'B') and (10 >= 5)
20 > 12 and not(40 < 8)

20+12 == 40-8
45 != 45
'30' < 60

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
'A' >= 'B'
(2017 % 4 == 0) or ((2017 + 3) % 10 == 0) and not(2017 % 100 != 17)

True

In [11]:
type('c' > 'K')

bool

In [12]:
a = 5
if a > 5 :
    print('A')
elif a > 10:
    print('B')
else :
    print('C')

C

In [ ]:
x = ['a','b','c']

for i in range(len(x)) :
    print(i)

0
1
2

In [ ]:
def print_tables():
    for x in range(3, 11):
        for y in range(3, 11):
            print(x, 'X', y, '=', x*y , end=' | ')
        print()

print_tables()

3 X 3 = 9 | 3 X 4 = 12 | 3 X 5 = 15 | 3 X 6 = 18 | 3 X 7 = 21 | 3 X 8 = 24 | 3 X 9 = 27 | 3 X 10 = 30 |
4 X 3 = 12 | 4 X 4 = 16 | 4 X 5 = 20 | 4 X 6 = 24 | 4 X 7 = 28 | 4 X 8 = 32 | 4 X 9 = 36 | 4 X 10 = 40 |
5 X 3 = 15 | 5 X 4 = 20 | 5 X 5 = 25 | 5 X 6 = 30 | 5 X 7 = 35 | 5 X 8 = 40 | 5 X 9 = 45 | 5 X 10 = 50 |
6 X 3 = 18 | 6 X 4 = 24 | 6 X 5 = 30 | 6 X 6 = 36 | 6 X 7 = 42 | 6 X 8 = 48 | 6 X 9 = 54 | 6 X 10 = 60 |
7 X 3 = 21 | 7 X 4 = 28 | 7 X 5 = 35 | 7 X 6 = 42 | 7 X 7 = 49 | 7 X 8 = 56 | 7 X 9 = 63 | 7 X 10 = 70 |
8 X 3 = 24 | 8 X 4 = 32 | 8 X 5 = 40 | 8 X 6 = 48 | 8 X 7 = 56 | 8 X 8 = 64 | 8 X 9 = 72 | 8 X 10 = 80 |
9 X 3 = 27 | 9 X 4 = 36 | 9 X 5 = 45 | 9 X 6 = 54 | 9 X 7 = 63 | 9 X 8 = 72 | 9 X 9 = 81 | 9 X 10 = 90 |
10 X 3 = 30 | 10 X 4 = 40 | 10 X 5 = 50 | 10 X 6 = 60 | 10 X 7 = 70 | 10 X 8 = 80 | 10 X 9 = 90 | 10 X 10 = 100 |

In [ ]:
num = 2
while num < 51:
    flag = True
    for i in range(2, num):
        if num % i == 0:
            flag = False
            break
           
    if flag == True:
        print(num, end=',')
    num = num + 1

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,

In [ ]:
x = ['a1','a2','a3']

'a3' in x

True

In [ ]:
sum = 0
for x in range(0,11,2):
    print(x)
    sum += x
sum

0
2
4
6
8
10

30

In [ ]:
import os
if os.path.isfile('test45.txt'):
    file = open('test45.txt')
    print(file.read())
    file.close()

file = open('test45.txt', 'w+')
file.write('AAA')
file.close()

AAA

In [ ]:
import datetime
d = datetime.datetime(2002, 4, 1)
print('{:%B-%d-%y}'.format(d))
n = 123456.789
print('{:,.4f}'.format(n))

April-01-02
123,456.7890

數值格式化及對齊
{:d}        : 整數
{:f}        : 浮點數
{:e} {:E}   : 科學記號，例如 1.020000e+01，大小寫就代表 "e" 顯示的大小寫
{:x} {:X}   : 十六進位，大小寫分別表示 A ~ F 要顯示的大小寫
{:o}        : 八進位
{:b}        : 二進位
{:>}}        : 以百分比的方式輸出

{:>8d}      : 整數靠右對齊，寬度為 8
{:^8d}      : 整數置中對齊，寬度為 8
{:<8d}      : 整數靠左對齊，寬度為 8
{:8.3f}     : 小數點後保留 3 位，總寬度為 8 (含小數點)
{:+8.3f}    : 小數點後保留 3 位，帶正負號，總寬度為 8 (含小數點及正負號)

時間表示
%a  : 星期縮寫 *　　　　　(Mon)
%A  : 星期全寫 *　　　　　(Monday)
%w  : 星期數字  　　　　　(0 … 6)
%d  : 日期  　　　　　　　(01 … 31)
%b  : 月份縮寫 *　　　　　(Jan)
%B  : 月份全寫 *　　　　　(January)
%m  : 月份數字  　　　　　(01 … 12)
%y  : 西元年二位數字  　　(00 … 99)
%Y  : 西元年  　　　　　　(1970 … 2018)
%H  : 24小時制  　　　　　(00 … 23)
%I  : 12小時制  　　　　　(01 … 12)
%p  : AM 或 PM *
%M  : 分  　　　　　　　　(00 … 59)
%S  : 秒  　　　　　　　　(00 … 59)
%f  : 微秒，六位數字  　　(000000 … 999999)
%c  : 日期和時間 *　　　　(Tue Aug 16 21:30:00 2017)
%x  : 日期 *　　　　　　　(08/16/2017)
%X  : 時間 *　　　　　　　(21:30:00)

In [ ]:
name = 'AAA'
score, num ,sum = 0, 0, 0
while (score != -1):
    score = int(input("請輸入成績：(停止時請輸入-1)"))
    if score == -1:
        break
    sum += score
    num += 1
    avg = sum / num
print("%-10s：平均分數 = %8..1f"%(name, avg))

請輸入成績：(停止時請輸入-1)17
請輸入成績：(停止時請輸入-1)15
請輸入成績：(停止時請輸入-1)3
請輸入成績：(停止時請輸入-1)-1
AAA       ：平均分數 =     11.7

In [ ]:
print('%10.8f'%(123456.786))
print('%10f'%(123456.786))

123456.78600000
123456.786000

In [ ]:
mod = pow(3,4,6) # 3**4%6
print(mod)

mod = pow(3,4)
print(mod)

print(3**4)

In [ ]:
for i in range(10):
    print(i)

stuScore = [85, 72, 65, 45, 93]
len(stuScore)

In [ ]:
def ttt():
    return 1,2,3,4

temp = ttt()

type(temp)

In [ ]:
print('{:>8d}'.format(99))
print('{:<8d}'.format(99))
print('{:^8d}'.format(99))
print('{:,.3f}'.format(88.6))
print('{:.3f}'.format(88.6))
print('{:10.3f}'.format(888.666666))
print('{:+8.3f}'.format(88.6))
print('{:+8.3f}'.format(-88.6))
print('{:-2d}'.format(-88))

      99
99
   99
88.600
88.600
   888.667
 +88.600
 -88.600
-88

In [ ]:
import sys

fName = 'test61.txt'
file = open(fName, 'r+')

file.close()

FileNotFoundError: ignored

In [ ]:
import os
def read_file(fileName):
    cap = None
    if os.path.isfile(fileName):
      file = open(fileName, 'r')
    while cap != '':
      cap = file.read(1)
      print(cap)

In [ ]:
while True:
    try:
      num = int(input('請輸入一個整數：'))
      break
    except ValueError:
      print('這不是整數！')
print("程式結式")

請輸入一個整數：1
程式結式

In [ ]:
#import os.path as oo
#from os.path.isfile as oo
from os.path import isfile as oo

def read_file(fileName):
    cap = None
    if oo(fileName):
      file = open(fileName, 'r')
    while cap != '':
      cap = file.read(1)
      print(cap)

In [ ]:
import random
print(random.randrange(2, 11, 1))
print(random.randint(2, 10))

4
7

In [ ]:
import random
print(random.random())
print(random.randrange(0, 5,2))

0.392343181745329
0

In [ ]:
import math

print(math.ceil(5))
print(math.ceil(6))

print(math.fabs(-66))

print(math.factorial(9))

print(math.floor(4.5))

5
6
66.0
362880
4

In [ ]:
lst_1 = [[1,2], [1,2]]
lst_2 = [3, 4]
lst_3 = lst_1 + lst_2 
lst_4 = lst_3 * 2 
print(lst_4)
print(type(lst_4))

[[1, 2], [1, 2], 3, 4, [1, 2], [1, 2], 3, 4]
<class 'list'>

In [ ]:
ironman_list1 = [1,2,3,4,5,6]
n = ironman_list1.pop()
print('取出list最後一個元素並且移除---->',n)
print('ironman_list1--->',ironman_list1)
ironman_list1 = [2,3,4,5,6,3,3,6]
ironman_list1.remove(3)
print('移除第一次出現3的元素---->',list(ironman_list1))

取出list最後一個元素並且移除----> 6
ironman_list1---> [1, 2, 3, 4, 5]
移除第一次出現3的元素----> [2, 4, 5, 6, 3, 3, 6]

In [ ]:
ironman_tuple = ("中信兄弟", "統一獅", "lamigo", "富邦悍將")
print('總冠軍隊伍', ironman_tuple[0]) 
print('亞軍隊伍', ironman_tuple[-2])

總冠軍隊伍 中信兄弟
亞軍隊伍 lamigo

In [ ]:
ironman_tuple = ("中信兄弟", "統一獅", "lamigo", "富邦悍將")
ironman_list = ["brother","lion","monkey","Guardians"]
tuple_to_list = list(ironman_tuple)
list_to_tuple = tuple(ironman_list)
print(list(tuple_to_list))
print(list_to_tuple)

['中信兄弟', '統一獅', 'lamigo', '富邦悍將']
('brother', 'lion', 'monkey', 'Guardians')

In [ ]:
for i in range(1,10):
    for j in range(1,10):
        product = i * j
        print("%d*%d=%-2d " %(i,j, product), end=" ")
    print() #斷行

1*1=1   1*2=2   1*3=3   1*4=4   1*5=5   1*6=6   1*7=7   1*8=8   1*9=9
2*1=2   2*2=4   2*3=6   2*4=8   2*5=10  2*6=12  2*7=14  2*8=16  2*9=18
3*1=3   3*2=6   3*3=9   3*4=12  3*5=15  3*6=18  3*7=21  3*8=24  3*9=27
4*1=4   4*2=8   4*3=12  4*4=16  4*5=20  4*6=24  4*7=28  4*8=32  4*9=36
5*1=5   5*2=10  5*3=15  5*4=20  5*5=25  5*6=30  5*7=35  5*8=40  5*9=45
6*1=6   6*2=12  6*3=18  6*4=24  6*5=30  6*6=36  6*7=42  6*8=48  6*9=54
7*1=7   7*2=14  7*3=21  7*4=28  7*5=35  7*6=42  7*7=49  7*8=56  7*9=63
8*1=8   8*2=16  8*3=24  8*4=32  8*5=40  8*6=48  8*7=56  8*8=64  8*9=72
9*1=9   9*2=18  9*3=27  9*4=36  9*5=45  9*6=54  9*7=63  9*8=72  9*9=81

In [13]:
print('%(real)s is %(nick)s!!' % ({'real' : 'AAA', 'nick' : 'caterpillar'}))

print('{real} is {nick}!!'.format(nick = 'caterpillar', real = 'Justin'))

print('{0} is {nick}!!'.format('Justin', nick = 'caterpillar'))

print('{name} is {age} years old!'.format(name = 'Justin', age = "35"))

print('{0} is {1} years old!'.format('Justin',35))

print('example:{0:f}'.format(19.234))

AAA is caterpillar!!
Justin is caterpillar!!
Justin is caterpillar!!
Justin is 35 years old!
Justin is 35 years old!
example:19.234000